{% extends 'base.html' %}

{% block content %}
    <h1>Home page</h1>
    <h2>To do:</h2>
    <ul>
        <li><s>Urls' name</s></li>
        <li><s>Separate directory for the general pages</s></li>
        <li><s>Rename the 'map' app to 'scanner'</s></li>
        <li><s>Scan chosen areas for aircraft</s></li>
        <li><s>Show found aircraft on the map</s></li>
        <li>Show aircraft's card in the foldable area on the page. Show details after click on certain card</li>
        <li>Update database with aircraft data</li>
        <li>Update database with aircraft types</li>
        <li>Update database with airport data</li>
        <li>Create standarized aircraft card, that is showing aircraft details</li>
        <li>Create view with airports marked on the map</li>
        <li>User authentication. Favorites areas/flights/aircrafts/routes can be saved by user</li>
        <li>Info about airports. Arrivals and departures for given airport</li>
        <li>Routes of given flights</li>
        <li>404 pag</li>
    </ul>
{% endblock content %}

