{% extends 'base.html' %}

{% block content %}
    <h1>Home page</h1>
    <h2>To do:</h2>
    <ul>
        <li><s>Urls' name</s></li>
        <li><s>Separate directory for the general pages</s></li>
        <li><s>Rename the 'map' app to 'scanner'</s></li>
        <li><s>Scan chosen areas for aircraft</s></li>
        <li><s>Show found aircraft on the map</s></li>
        <li><s>Show aircrafts details after click on certain card</s></li>
        <li><s>Create postgresql db on the separate container</s></li>
        <li><s>Connect django db engine to new database</s></li>
        <li><s>Convert commands to add data to db directly from the pandas dataframe</s></li>
        <li><s>Add plane markares rotation</s></li>
        <li><s>Update database with aircraft data</s></li>
        <li><s>Update database with airport data</s></li>
        <li><s>Create standarized aircraft card, that is showing aircraft details</s></li>
        <li><s>Create view with airports marked on the map</s></li>
        <li><s>Info about airports.</s> Arrivals and departures for given airport</li>
        <li><s>Routes of given flights</s></li>
        <li><s>Aircraft page</s></li>
        <li><s>Airport flights list and grapgical interpretation</s> </li>
        <li><s>404 pag</s></li>
        <hr>
        <li><strong>Statistic from search</strong></li>
        <li>Add DB credential to secrets in the dotenv file</li>
        <li>Add docker file to DB</li>
        <li>Add DB input data to repo</li>
        
        <li>Update database with aircraft types</li>
        
        <li>User authentication. Favorites areas/flights/aircrafts/routes can be saved by user</li>
        
        
        <li>Review all "FIXME" and "TODO" markers</li>
        <li>Add hint how to scan, allow user to disable hint by saving their choice in the session mechanism</li>
        <li>Add help site</li>
        <li>Rename modules to django standard naming conventions (e.g. Views have ...View suffix)</li>
        <li>Add licencing information. Add information about data sources</li>
       
        
    </ul>
{% endblock content %}

