{% extends 'base.html' %}
{% load static %}

{% block title %}Aircraft search{% endblock title %}
{% block head %}
    <link rel="stylesheet" href={% static 'airplanes/css/style.css' %}>

{% endblock head %}
{% block content %}

    <form method="post">

        <div class="bg-dark form-card">
            {% csrf_token %}
            <h1 style="text-align: center; color: white;">{{form.icao24.label}}</h1>
            {{form.icao24}}
            <hr>
            <div style="align-content: center;">
                <button type="submit" class="form-control">Find aircraft</button>
            </div>

        </div>


    </form>
    {% if wrong_number %}
        <h1 style="text-align: center;">Aircraft {{wrong_number}} was not found </h1>
    {% endif %}


{% endblock content %}

{% block script %}
{% endblock script %}