{% extends 'base.html' %}
{% load static %}

{% block title %}{{object.name}}
    {% if object.municipality %}
        | {{object.municipality}}
    {% endif %}{% endblock title %}
{% block head %}
    <link rel="stylesheet" href={% static 'scanner/css/style.css' %}>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
{% endblock head %}
{% block content %}
    <div class="data-card" style="margin: 10px;">
        <div class="row">

            <div class="col-md-4" style="padding: 30px;">
                <h1>{{object.name}}
                    {% if object.municipality %}
                        | {{object.municipality}}
                    {% endif %}</h1>
                <h3>{{object.ident}}</h3>
                <hr>
                <div class="row">
                    <div class="col-md-6"><h3>Type:</h3></div>
                    <div class="col-md-6"><h3>{{object.type|upper}}</h3></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><h3>Latitude:</h3></div>
                    <div class="col-md-6"><h3>{{object.latitude_deg}}</h3></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><h3>Longitude:</h3></div>
                    <div class="col-md-6"><h3>{{object.longitude_deg}}</h3></div>
                </div>
            </div>
            <div class="col-md-8" style="padding: 30px;">
                {{html|safe}}
            </div>
        </div>
        <div class="row">

            <div class="col-md-4" style="padding: 30px;">
                {% if object.home_link %}
                    <h2><a href="{{object.home_link}}">Airport home page</a></h2>
                {% endif %}

                {% if object.wikipedia_link%}
                    <h3><a href="{{object.wikipedia_link}}">Wikipedia page</a></h3>
                {% endif %}

            </div>
            <div class="col-md-8" style="padding: 30px; {% if form.errors %} color: red;{% endif %}">
                <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit">Generate routes</button>
                </form>

            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}
{% endblock script %}