.nav-link:hover{
    background-color: rgba(38, 9, 204, 0.438);
}
body {
    overflow: hidden;
}

.state-vector {
    border-radius: 5px; 
    margin-top: 4px; 
    font-size: small; 
    padding: 3px;
    background-color: rgba(234, 229, 255, 0.438);
}

.state-vector p {
    margin: 0px;
}
div.state-vector:hover{
    background-color: rgba(169, 149, 250, 0.438);
}