.airport-right-menu {
    height: 98vh; 
    width: 50vh; 
    margin: 5px; 
    padding-left: 10px; 
    padding-right: 10px; 
    opacity: 0.9; 
    border-radius: 10px; 
    overflow-y: hidden;
}

.map-container {
    height: 100vh; 
    padding-left: 8px;
}
.airport-right-menu::-webkit-scrollbar { 
    display: none; 
}
.scrollable{
    overflow-y: auto;
    scrollbar-width: 0px;
    height: 100%;

}

.scrollable::-webkit-scrollbar { 
    display: none;  
}


.submit-btn{
    background-color: rgba(255, 233, 233, 0.438);
}
.submit-btn:hover{
    background-color: rgba(255, 170, 170, 0.438);
}
.form-padding {
    padding-top: 10px;
}
.inner-form{
    padding: 5px;
    background-color: #7a8692;
    border-radius: 10px; 
    opacity: 0.9; 
}

.flight-data-card {
    border-radius: 5px; 
    margin-top: 4px; 
    font-size: small; 
    padding: 3px;
    background-color: rgba(234, 229, 255, 0.438);
}

.flight-data-card p {
    margin: 0px;
    font-size: medium;
}
div.flight-data-card:hover{
    background-color: rgba(169, 149, 250, 0.438);
}