{% extends 'base.html' %}
{% load static %}


{% block title %}Flight no. {{flight.callsign}} / {{flight.icao24}}{% endblock title %}
{% block head %}
    <link rel="stylesheet" href={% static 'scanner/css/style.css' %}>
    <link rel="stylesheet" href={% static 'flights/css/style.css' %}>
{% endblock head %}
{% block content %}
    <div class="row">
        <div class="col-md-6 map-container" style="padding: 10px;">
            {% include "flight_card.html" with flight=flight html=html origin_airport=origin_airport destination_airport=destination_airport%}
        </div>
        <div class="col-md-6 map-container" style="padding: 10px;">
            {% include "airplane_card.html" with photo=photo airplane_details=airplane_details%}
        </div>

    </div>
{% endblock content %}

{% block script %}
    <script src="{% static '\scanner\js\get_geojson.js' %}"></script>
{% endblock script %}
