{% extends 'base.html' %}
{% load static %}

{% block title %}Scanner{% endblock title %}

{% block content %}
    <div class="row" style="margin-top: 1rem;">
        <div class="col-md-8" style="height: 96vh; ">
            {{html|safe}}
            <div style="background-color: blue; ">
                <form action="#">
                  <textarea name="test" id="tsst" cols="30" rows="10">test</textarea>
                  <input type="text">
                </form>
            </div>

        </div>
        <div class="col-md-1" style="background-color: red;">
            <button class="btn-primary" id="checkCoords">Check</button>

        </div>

    </div>

{% endblock content %}

{% block script %}
    <script src="{% static '\scanner\js\get_geojson.js' %}"></script>
{% endblock script %}

