{% extends 'base.html' %}
{% load static %}

{% block title %}Scanner{% endblock title %}
{% block head %}<link rel="stylesheet" href={% static 'scanner/css/style.css' %}>{% endblock head %}
{% block content %}
    <div class="row">
        <div class="col-md-12 map-container">
            {{html|safe}}
        </div>
        <div class="position-absolute top-0 end-0 bg-dark right-menu">
            <form action="{% url 'scanning_page' %}" method="POST" id="scanning_form">
                {% csrf_token %}
                <input type="hidden" id="scanning_area" name = "scanning_area">
                <input type="hidden" id="map_info" name = "map_info">
            </form>
            <button class="form-control" type="button" id="submit_scanner">Submit</button>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static '\scanner\js\get_geojson.js' %}"></script>
{% endblock script %}

